.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  padding: 8px 8px 8px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  max-width: 500px;
}

.mat-column-id {
  flex: 0 0 10%;
}

.mat-column-action {
  flex: 0 0 10%;
}

.buttons-right {
  float: right;
}