<div class="container">  
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/filter">Filter</a>
    <a mat-tab-link routerLink="/edit1">Edit 1</a>
    <a mat-tab-link routerLink="/edit2">Edit 2</a>
  </nav>
  <div class="change-notification" *ngIf="isSaving">
    <!--<mat-spinner [diameter]="18"></mat-spinner>-->
    <button mat-icon-button color="primary" (click)="showChanges()" matTooltip="Show changes" matTooltipPosition="right"><mat-icon>list</mat-icon></button>
    Applying changes...
</div>
  <router-outlet></router-outlet>
</div> 