<div class="container">  
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/filter">Filter</a>
    <a mat-tab-link routerLink="/edit1">Edit 1</a>
    <a mat-tab-link routerLink="/edit2">Edit 2</a>
  </nav>
  <div *ngIf="isSaving">
    <div class="change-notification">
      <button mat-icon-button color="primary" (click)="showChanges()" matTooltip="Show changes" matTooltipPosition="right"><mat-icon>list</mat-icon></button>
      Applying changes...
    </div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <router-outlet></router-outlet>
</div> 